<footer class="display-flex justify-center flex-column items-center mx-10">
  <div class="display-flex flex-wrap gap-15 m-50 max-w-screen-session w-full">
    <div
      class="display-flex col-25 md:col-100 md:justify-center md:align-center md:text-center sm:col-100 p-5 sm:display-flex sm:justify-center sm:align-center sm:text-center"
    >
      <div>
        <h1 class="fs-16 fw-700">Solutions</h1>
        <p class="line-height-30 fs-16 fw-500">Employee training</p>
        <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
        <p class="line-height-30 fs-16 fw-500">Presentations</p>
      </div>
    </div>
    <div
      class="display-flex col-25 p-5 md:col-50 md:justify-start md:text-start sm:col-50 sm:justify-start sm:text-start"
    >
      <div>
        <h1 class="fs-16 fw-700">Support</h1>
        <p class="line-height-30 fs-16 fw-500">FAQ</p>
        <p class="line-height-30 fs-16 fw-500">Create a Quiz</p>
        <p class="line-height-30 fs-16 fw-500">Create a Presentation</p>
        <p class="line-height-30 fs-16 fw-500">Host a Quiz</p>
      </div>
    </div>
    <div
      class="display-flex col-25 p-5 md:col-50 md:justify-end md:text-end sm:col-50 sm:justify-end sm:text-end"
    >
      <div>
        <h1 class="fs-16 fw-700">Solutions</h1>
        <p class="line-height-30 fs-16 fw-500">Employee training</p>
        <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
        <p class="line-height-30 fs-16 fw-500">Presentations</p>
      </div>
    </div>
    <div class="col-25 md:col-50 sm:col-100 p-5"></div>
  </div>
  <div
    class="bt-gray display-flex gap-15 items-center justify-between max-w-screen-session md:flex-wrap-reverse py-25 w-full"
  >
    <div class="display-flex ml-5 items-center">
      <ul class="display-flex ml-5 items-center">
        <li>
          <p class="fw-700">&copy; 2022 Olympia Application. All rights
            reserved.</p>
        </li>
        <li class="m-5">
          <i class="fa-brands fa-facebook fa-xl"></i>
        </li>
        <li class="m-5">
          <i class="fa-brands fa-twitch fa-xl"></i>
        </li>
        <li class="m-5">
          <i class="fa-brands fa-twitter fa-xl"></i>
        </li>
        <li class="m-5">
          <i class="fa-brands fa-instagram fa-xl"></i>
        </li>
      </ul>
    </div>
    <div class="display-flex justify-end md:justify-center w-full">
      <ul class="display-flex ml-5 items-center">
        <li class="m-5">
          <p class="fw-700">Get our app</p>
        </li>
        <li class="m-5">
          <img
            src="https://cf.quizizz.com/img/landing/apple%20app%20store.png"
            class="w-100"
            aria-hidden="true"
            alt="apple store"
            data-v-e49e73a7=""
          />
        </li>
        <li class="m-5">
          <img
            src="https://cf.quizizz.com/img/landing/google%20play.png"
            class="w-100"
            aria-hidden="true"
            alt="google store"
            data-v-e49e73a7=""
          />
        </li>
      </ul>
    </div>

  </div>
</footer>