<!-- FILEPATH: /c:/Users/ADMIN/Desktop/olympia-application/views/index.hbs -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olympia Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <main class="display-flex justify-center">
      <div
        class="max-w-screen-session display-flex flex-column gap-10 w-full px-10"
      >
        <section
          class="display-flex justify-between rounded border-gray px-20 py-10"
        >
          <div>
            <p class="fw-700">Bạn muốn tạo và tổ chức một Olympia?</p>
            <p>Bạn có thể bắt đầu dùng miễn phí.</p>
          </div>
          <div
            class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer"
          >
            <i class="fa-solid fa-plus"></i>
            <span>Tổ chức ngay</span>
          </div>
        </section>

        <section>

        </section>
      </div>
    </main>

  </body>

</html>