<!-- FILEPATH: /c:/Users/ADMIN/Desktop/olympia-application/views/index.hbs -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olympia Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <main class="display-flex justify-center">
      <div
        class="max-w-screen-session display-flex flex-column gap-10 w-full px-10"
      >
        <section
          class="display-flex justify-between rounded border-gray px-20 py-10"
        >
          <div>
            <p class="fw-700">Bạn muốn tạo và tổ chức một Olympia?</p>
            <p>Bạn có thể bắt đầu dùng miễn phí.</p>
          </div>
          <div
            class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer"
          >
            <i class="fa-solid fa-plus"></i>
            <span>Tổ chức ngay</span>
          </div>
        </section>

        <section class="display-flex gap-10">
          <div
            class="rounded border-gray background-linear-gradient-primary box-shadow p-1 flex-1"
          >
            <div
              class="bg-white display-flex justify-between px-20 py-10 gap-10 flex-column"
            >
              <div class="display-flex gap-10 items-center">
                <div
                  class="h-80 w-80 circle display-flex justify-center items-center"
                >
                  <img src="./images/JoinRoom.png" alt="JoinRoom" />
                </div>
                <div>
                  <p class="fw-700">Bạn muốn tham gia một Olympia?</p>
                  <p>Bạn có thể tham gia dùng miễn phí.</p>
                </div>
              </div>
              <div class="display-flex gap-10 items-center flex-wrap">
                <input
                  class="flex-1 px-15 py-10 border-gray rounded min-w-230"
                  type="text"
                  placeholder="Nhập mã tham gia vào đây..."
                />
                <div
                  class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer sm:w-full"
                >
                  <span>Tham gia ngay</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rounded border-gray px-20 py-10 max-w-350 flex-1 sm:display-none"
          >
            <div
              class="h-80 w-80 circle display-flex justify-center items-center"
            >
              <img src="./images/JoinRoom.png" alt="JoinRoom" />
            </div>
            <div class="fw-700">HieuVV4 Hiếu</div>
            <p class="fs-12">Tài khoản người tham gia</p>
          </div>
        </section>
      </div>
    </main>

  </body>

</html>