<!-- FILEPATH: /c:/Users/ADMIN/Desktop/olympia-application/views/index.hbs -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olympia Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <header
      class="h-64 display-flex justify-between items-center px-10 bg-white border-bottom-gray"
    >
      <h1 class="py-1 display-flex items-center cursor-pointer">
        <a
          class="text-primary fs-27 display-block sm:display-none"
          href="/"
        >Olympia Application</a>
      </h1>
      <nav class="display-flex gap-4 items-center gap-5">
        <div
          class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer"
        >Chương trình của tôi
        </div>
        <div
          class="display-flex items-center justify-center h-40 w-40 cursor-pointer bg-gray rounded position-relative"
        >
          <i class="fa-solid fa-bars"></i>
          <ul
            class="absolute-right bg-white border-gray min-w-200 position-absolute top-43 py-10 rounded shadow"
          >
            <li class="px-20">
              <div class="fs-14 lh-20">HieuVV4</div>
              <div class="fs-12 lh-20">hieus247@gmail.com</div>
            </li>
            <li class="h-1 bb-gray my-10" />
            <li class="cursor-pointer px-20 py-10 hover:light-primary">
              <a class="display-flex gap-10 items-center" href="/auth/logout">
                <i class="fa-solid fa-right-to-bracket text-black"></i>
                <span class="text-black">Đăng xuất</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="display-flex justify-center bg-light-gray px-10 py-20">
      <div class="max-w-screen-session display-flex flex-column gap-10 w-full">

      </div>
    </main>

    <footer class="display-flex justify-center flex-column items-center mx-10">
      <div
        class="display-flex flex-wrap gap-15 m-50 max-w-screen-session w-full"
      >
        <div
          class="display-flex col-25 md:col-100 md:justify-center md:align-center md:text-center sm:col-100 p-5 sm:display-flex sm:justify-center sm:align-center sm:text-center"
        >
          <div>
            <h1 class="fs-16 fw-700">Solutions</h1>
            <p class="line-height-30 fs-16 fw-500">Employee training</p>
            <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
            <p class="line-height-30 fs-16 fw-500">Presentations</p>
          </div>
        </div>
        <div
          class="display-flex col-25 p-5 md:col-50 md:justify-start md:text-start sm:col-50 sm:justify-start sm:text-start"
        >
          <div>
            <h1 class="fs-16 fw-700">Support</h1>
            <p class="line-height-30 fs-16 fw-500">FAQ</p>
            <p class="line-height-30 fs-16 fw-500">Create a Quiz</p>
            <p class="line-height-30 fs-16 fw-500">Create a Presentation</p>
            <p class="line-height-30 fs-16 fw-500">Host a Quiz</p>
          </div>
        </div>
        <div
          class="display-flex col-25 p-5 md:col-50 md:justify-end md:text-end sm:col-50 sm:justify-end sm:text-end"
        >
          <div>
            <h1 class="fs-16 fw-700">Solutions</h1>
            <p class="line-height-30 fs-16 fw-500">Employee training</p>
            <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
            <p class="line-height-30 fs-16 fw-500">Presentations</p>
          </div>
        </div>
        <div class="col-25 md:col-50 sm:col-100 p-5"></div>
      </div>
      <div
        class="bt-gray display-flex gap-15 items-center justify-between max-w-screen-session md:flex-wrap-reverse py-25 w-full"
      >
        <div class="display-flex ml-5 items-center">
          <ul class="display-flex ml-5 items-center">
            <li>
              <p class="fw-700">&copy; 2022 Olympia Application. All rights
                reserved.</p>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-facebook fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-twitch fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-twitter fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </li>
          </ul>
        </div>
        <div class="display-flex justify-end md:justify-center w-full">
          <ul class="display-flex ml-5 items-center">
            <li class="m-5">
              <p class="fw-700">Get our app</p>
            </li>
            <li class="m-5">
              <img
                src="https://cf.quizizz.com/img/landing/apple%20app%20store.png"
                class="w-100"
                aria-hidden="true"
                alt="apple store"
                data-v-e49e73a7=""
              />
            </li>
            <li class="m-5">
              <img
                src="https://cf.quizizz.com/img/landing/google%20play.png"
                class="w-100"
                aria-hidden="true"
                alt="google store"
                data-v-e49e73a7=""
              />
            </li>
          </ul>
        </div>

      </div>
    </footer>
  </body>

</html>