<!-- FILEPATH: /c:/Users/ADMIN/Desktop/olympia-application/views/index.hbs -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olympia Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <header
      class="h-64 display-flex justify-between items-center px-10 bg-white border-bottom-gray"
    >
      <h1 class="py-1 display-flex items-center cursor-pointer">
        <a
          class="text-primary fs-27 display-block sm:display-none"
          href="/"
        >Olympia Application</a>
      </h1>
      <nav class="display-flex gap-4 items-center gap-5">
        <div
          class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer"
        >Chương trình của tôi
        </div>
        <div
          class="display-flex items-center justify-center h-40 w-40 cursor-pointer bg-gray rounded position-relative"
        >
          <i class="fa-solid fa-bars"></i>
          <ul
            class="absolute-right bg-white border-gray min-w-200 position-absolute top-43 py-10 rounded shadow"
          >
            <li class="px-20">
              <div class="fs-14 lh-20">HieuVV4</div>
              <div class="fs-12 lh-20">hieus247@gmail.com</div>
            </li>
            <li class="h-1 bb-gray my-10" />
            <li class="cursor-pointer px-20 py-10 hover:light-primary">
              <a class="display-flex gap-10 items-center" href="/auth/logout">
                <i class="fa-solid fa-right-to-bracket text-black"></i>
                <span class="text-black">Đăng xuất</span>
              </a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <main class="display-flex justify-center bg-light-gray mt-10">
      <div
        class="max-w-screen-session display-flex flex-column gap-10 w-full px-10"
      >
        <section
          class="display-flex justify-between rounded border-gray px-20 py-10 flex-wrap gap-10"
        >
          <div>
            <p class="fw-700">Bạn muốn tạo và tổ chức một Olympia?</p>
            <p>Bạn có thể bắt đầu dùng miễn phí.</p>
          </div>
          <div
            class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer sm:col-100"
          >
            <i class="fa-solid fa-plus"></i>
            <span>Tổ chức ngay</span>
          </div>
        </section>
        <section class="display-flex gap-10">
          <div
            class="rounded border-gray background-linear-gradient-primary box-shadow p-1 flex-1"
          >
            <div
              class="bg-white display-flex justify-between px-20 py-10 gap-10 flex-column"
            >
              <div class="display-flex gap-10 items-center">
                <div
                  class="h-80 w-80 circle display-flex justify-center items-center"
                >
                  <img src="./images/JoinRoom.png" alt="JoinRoom" />
                </div>
                <div>
                  <p class="fw-700">Bạn muốn tham gia một Olympia?</p>
                  <p>Bạn có thể tham gia dùng miễn phí.</p>
                </div>
              </div>
              <div class="display-flex gap-10 items-center flex-wrap">
                <input
                  class="flex-1 px-15 py-10 border-gray rounded"
                  type="text"
                  placeholder="Nhập mã tham gia vào đây..."
                />
                <div
                  class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer sm:w-full"
                >
                  <span>Tham gia ngay</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rounded border-gray px-20 py-10 max-w-350 flex-1 sm:display-none"
          >
            <div
              class="h-80 w-80 circle display-flex justify-center items-center"
            >
              <img src="./images/JoinRoom.png" alt="JoinRoom" />
            </div>
            <div class="fw-700">HieuVV4 Hiếu</div>
            <p class="fs-12">Tài khoản người tham gia</p>
          </div>
        </section>
        <section>
          <div class="display-flex justify-between items-center py-15">
            <div class="display-flex">
              <h1 class="fs-16 fw-700">Past Activities</h1>
            </div>
            <div class="">
              <a href="#" class="display-flex items-center gap-10">
                <h1 class="fs-16 fw-700">View all</h1>
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div class="display-flex gap-10 flex-wrap justify-between py-20">
            <div
              class="card flex-1 col-25 md:col-50 sm:col-100 rounded bg-white p-3"
            >
              <div
                class="bg-blue m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <img src="./images/quiz.svg" alt="" />
              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 bg-light-green rounded bl-green-5 t-green"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-6 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div
                class="display-flex items-center py-5 ml-10 gap-10 fs-14 t-green"
              >
                <i class="fa-solid fa-circle-check fa-xl"></i>
                <div>Completed with 89% accuracy</div>
              </div>
            </div>
            <div
              class="card flex-1 col-25 md:col-50 sm:col-100 rounded bg-white p-3"
            >
              <div
                class="bg-keppel m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <img src="./images/quiz.svg" alt="" />
              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 bg-light-green rounded bl-green-5 t-green"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-6 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div
                class="display-flex items-center py-5 ml-10 gap-10 fs-14 t-green"
              >
                <i class="fa-solid fa-circle-check fa-xl"></i>
                <div>Completed with 89% accuracy</div>
              </div>
            </div>
            <div
              class="card flex-1 col-25 md:col-50 sm:col-100 rounded bg-white p-3"
            >
              <div
                class="bg-yellow m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <img src="./images/quiz.svg" alt="" />

              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 bg-light-green rounded bl-green-5 t-green"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-6 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div
                class="display-flex items-center py-8 ml-10 gap-10 fs-14 t-green"
              >
                <i class="fa-solid fa-circle-check fa-xl"></i>
                <div>Completed with 89% accuracy</div>
              </div>
            </div>
            <div
              class="card flex-1 col-25 md:col-50 sm:col-100 rounded bg-white p-3"
            >
              <div
                class="bg-red m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <img src="./images/quiz.svg" alt="" />
              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 bg-light-green rounded bl-green-5 t-green"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-6 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div
                class="display-flex items-center py-8 ml-10 gap-10 fs-14 t-green"
              >
                <i class="fa-solid fa-circle-check fa-xl"></i>
                <div>Completed with 89% accuracy</div>
              </div>
            </div>
          </div>
        </section>

        <section>
          <div class="display-flex justify-between items-center py-15">
            <div class="display-flex">
              <h1 class="fs-16 fw-700">Groups</h1>
            </div>
            <div class="">
              <a href="#" class="display-flex items-center gap-10">
                <h1 class="fs-16 fw-700">View all</h1>
                <i class="fa-solid fa-chevron-right"></i>
              </a>
            </div>
          </div>
          <div
            class="card display-flex flex-column rounded bl-yellow-10 p-20 gap-5 col-50"
          >
            <p class="fs-16 fw-700">OS_04</p>
            <p class="fs-16">By FA_DN</p></div>
          <div
            class="card display-flex flex-column flex-rounded bl-yellow-10 p-20 gap-5 col-50"
          >
            <p class="fs-16 fw-700">OS_04</p>
            <p class="fs-16">By FA_DN</p></div>
        </section>
      </div>
    </main>

    <footer class="display-flex justify-center flex-column items-center mx-10">
      <div
        class="display-flex flex-wrap gap-15 m-50 max-w-screen-session w-full"
      >
        <div
          class="display-flex col-25 md:col-100 md:justify-center md:align-center md:text-center sm:col-100 p-5 sm:display-flex sm:justify-center sm:align-center sm:text-center"
        >
          <div>
            <h1 class="fs-16 fw-700">Solutions</h1>
            <p class="line-height-30 fs-16 fw-500">Employee training</p>
            <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
            <p class="line-height-30 fs-16 fw-500">Presentations</p>
          </div>
        </div>
        <div
          class="display-flex col-25 p-5 md:col-50 md:justify-start md:text-start sm:col-50 sm:justify-start sm:text-start"
        >
          <div>
            <h1 class="fs-16 fw-700">Support</h1>
            <p class="line-height-30 fs-16 fw-500">FAQ</p>
            <p class="line-height-30 fs-16 fw-500">Create a Quiz</p>
            <p class="line-height-30 fs-16 fw-500">Create a Presentation</p>
            <p class="line-height-30 fs-16 fw-500">Host a Quiz</p>
          </div>
        </div>
        <div
          class="display-flex col-25 p-5 md:col-50 md:justify-end md:text-end sm:col-50 sm:justify-end sm:text-end"
        >
          <div>
            <h1 class="fs-16 fw-700">Solutions</h1>
            <p class="line-height-30 fs-16 fw-500">Employee training</p>
            <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
            <p class="line-height-30 fs-16 fw-500">Presentations</p>
          </div>
        </div>
        <div class="col-25 md:col-50 sm:col-100 p-5"></div>
      </div>
      <div
        class="bt-gray display-flex gap-15 items-center justify-between max-w-screen-session md:flex-wrap-reverse py-25 w-full"
      >
        <div class="display-flex ml-5 items-center">
          <ul class="display-flex ml-5 items-center">
            <li>
              <p class="fw-700">&copy; 2022 Olympia Application. All rights
                reserved.</p>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-facebook fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-twitch fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-twitter fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </li>
          </ul>
        </div>
        <div class="display-flex justify-end md:justify-center w-full">
          <ul class="display-flex ml-5 items-center">
            <li class="m-5">
              <p class="fw-700">Get our app</p>
            </li>
            <li class="m-5">
              <img
                src="https://cf.quizizz.com/img/landing/apple%20app%20store.png"
                class="w-100"
                aria-hidden="true"
                alt="apple store"
                data-v-e49e73a7=""
              />
            </li>
            <li class="m-5">
              <img
                src="https://cf.quizizz.com/img/landing/google%20play.png"
                class="w-100"
                aria-hidden="true"
                alt="google store"
                data-v-e49e73a7=""
              />
            </li>
          </ul>
        </div>

      </div>
    </footer>
  </body>

</html>