<!-- FILEPATH: /c:/Users/ADMIN/Desktop/olympia-application/views/index.hbs -->

<html lang="en">

  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Olympia Application</title>
    <link rel="stylesheet" href="/styles/style.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css"
    />
  </head>

  <body>
    <header
      class="h-64 display-flex justify-between items-center px-10 bg-white border-bottom-gray"
    >
      <h1 class="py-1 display-flex items-center cursor-pointer">
        <a
          class="text-primary fs-27 display-block sm:display-none"
          href="/"
        >Olympia Application</a>
      </h1>
      <nav class="display-flex gap-4 items-center gap-5">
        <div
          class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer"
        >Chương trình của tôi
        </div>
        {{! <div
          class="display-flex items-center justify-center h-40 w-40 cursor-pointer bg-gray rounded position-relative"
        >
          <i class="fa-solid fa-bars"></i>
          <ul
            class="absolute-right bg-white border-gray min-w-200 position-absolute top-43 py-10 rounded shadow"
          >
            <li class="px-20">
              <div class="fs-14 lh-20">HieuVV4</div>
              <div class="fs-12 lh-20">hieus247@gmail.com</div>
            </li>
            <li class="h-1 bb-gray my-10" />
            <li class="cursor-pointer px-20 py-10 hover:light-primary">
              <a class="display-flex gap-10 items-center" href="/auth/logout">
                <i class="fa-solid fa-right-to-bracket text-black"></i>
                <span class="text-black">Đăng xuất</span>
              </a>
            </li>
          </ul>
        </div> }}
      </nav>
    </header>

    <main class="display-flex justify-center">
      <div
        class="max-w-screen-session display-flex flex-column gap-10 w-full px-10"
      >
        <section
          class="display-flex justify-between rounded border-gray px-20 py-10"
        >
          <div>
            <p class="fw-700">Bạn muốn tạo và tổ chức một Olympia?</p>
            <p>Bạn có thể bắt đầu dùng miễn phí.</p>
          </div>
          <div
            class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer"
          >
            <i class="fa-solid fa-plus"></i>
            <span>Tổ chức ngay</span>
          </div>
        </section>
        <section class="display-flex gap-10">
          <div
            class="rounded border-gray background-linear-gradient-primary box-shadow p-1 flex-1"
          >
            <div
              class="bg-white display-flex justify-between px-20 py-10 gap-10 flex-column"
            >
              <div class="display-flex gap-10 items-center">
                <div
                  class="h-80 w-80 circle display-flex justify-center items-center"
                >
                  <img src="./images/JoinRoom.png" alt="JoinRoom" />
                </div>
                <div>
                  <p class="fw-700">Bạn muốn tham gia một Olympia?</p>
                  <p>Bạn có thể tham gia dùng miễn phí.</p>
                </div>
              </div>
              <div class="display-flex gap-10 items-center flex-wrap">
                <input
                  class="flex-1 px-15 py-10 border-gray rounded min-w-230"
                  type="text"
                  placeholder="Nhập mã tham gia vào đây..."
                />
                <div
                  class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer sm:w-full"
                >
                  <span>Tham gia ngay</span>
                </div>
              </div>
            </div>
          </div>
          <div
            class="rounded border-gray px-20 py-10 max-w-350 flex-1 sm:display-none"
          >
            <div
              class="h-80 w-80 circle display-flex justify-center items-center"
            >
              <img src="./images/JoinRoom.png" alt="JoinRoom" />
            </div>
            <div class="fw-700">HieuVV4 Hiếu</div>
            <p class="fs-12">Tài khoản người tham gia</p>
          </div>
        </section>
        <section>
          <div class="display-flex justify-between items-center">
            <div class="display-flex">
              <h1 class="fs-16 fw-700">Past Activities</h1>
            </div>
            <div class="display-flex items-center gap-5">
              <h1 class="fs-16 fw-700">View all</h1>
              <i class="fa-solid fa-chevron-right"></i>
            </div>
          </div>
          <div class="display-flex gap-5">

            <div class="card flex-1 b-primary">
              <div
                class="bg-blue m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="40"
                  height="40"
                  viewBox="0 0 56 56"
                  version="1.1"
                  style="fill: #fff; opacity: 0.40;"
                >
                  <g>
                    <path
                      d="M 7.820312 7.710938 L 7.820312 7.707031 C 7.800781 7.726562 7.785156 7.746094 7.765625 7.765625 C 7.746094 7.785156 7.726562 7.800781 7.707031 7.816406 L 7.710938 7.820312 C -2.605469 18.257812 -2.570312 35.082031 7.820312 45.472656 C 15.769531 53.421875 27.480469 55.308594 37.21875 51.136719 C 37.824219 50.878906 38.34375 50.515625 38.777344 50.085938 C 40.632812 48.230469 40.78125 45.074219 38.765625 43.058594 C 37.320312 41.613281 35.136719 41.140625 33.257812 41.941406 C 27.175781 44.535156 19.863281 43.355469 14.898438 38.390625 C 8.398438 31.890625 8.386719 21.367188 14.84375 14.84375 C 21.367188 8.386719 31.890625 8.398438 38.390625 14.898438 C 43.355469 19.863281 44.535156 27.175781 41.941406 33.257812 C 41.140625 35.136719 41.613281 37.320312 43.058594 38.765625 C 45.074219 40.78125 48.230469 40.632812 50.085938 38.777344 C 50.515625 38.34375 50.878906 37.824219 51.136719 37.21875 C 55.308594 27.480469 53.421875 15.769531 45.472656 7.816406 C 35.082031 -2.570312 18.257812 -2.605469 7.820312 7.710938 "
                    ></path>
                    <path
                      d="M 54.089844 54.089844 C 51.714844 56.460938 47.863281 56.460938 45.488281 54.089844 C 43.113281 51.714844 43.113281 47.863281 45.488281 45.488281 C 47.863281 43.113281 51.714844 43.113281 54.089844 45.488281 C 56.460938 47.863281 56.460938 51.714844 54.089844 54.089844 "
                    ></path>
                  </g>
                </svg>

              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 t-green"
                style="border-radius: 4px; border-left:5px solid rgb(0,201,133);background-color:#B9F6CA;

"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-5 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div class="display-flex items-center py-5 ml-10 gap-10 fs-14">
                <i
                  class="fa-solid fa-circle-check fa-xl"
                  style="color: rgb(0,201,133); "
                ></i>
                <div class="t-green">Completed with 89% accuracy</div>
              </div>
            </div>
            <div class="card flex-1 b-primary">
              <div
                class="bg-light-green m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="40"
                  height="40"
                  viewBox="0 0 56 56"
                  version="1.1"
                  style="fill: #fff; opacity: 0.40;"
                >
                  <g>
                    <path
                      d="M 7.820312 7.710938 L 7.820312 7.707031 C 7.800781 7.726562 7.785156 7.746094 7.765625 7.765625 C 7.746094 7.785156 7.726562 7.800781 7.707031 7.816406 L 7.710938 7.820312 C -2.605469 18.257812 -2.570312 35.082031 7.820312 45.472656 C 15.769531 53.421875 27.480469 55.308594 37.21875 51.136719 C 37.824219 50.878906 38.34375 50.515625 38.777344 50.085938 C 40.632812 48.230469 40.78125 45.074219 38.765625 43.058594 C 37.320312 41.613281 35.136719 41.140625 33.257812 41.941406 C 27.175781 44.535156 19.863281 43.355469 14.898438 38.390625 C 8.398438 31.890625 8.386719 21.367188 14.84375 14.84375 C 21.367188 8.386719 31.890625 8.398438 38.390625 14.898438 C 43.355469 19.863281 44.535156 27.175781 41.941406 33.257812 C 41.140625 35.136719 41.613281 37.320312 43.058594 38.765625 C 45.074219 40.78125 48.230469 40.632812 50.085938 38.777344 C 50.515625 38.34375 50.878906 37.824219 51.136719 37.21875 C 55.308594 27.480469 53.421875 15.769531 45.472656 7.816406 C 35.082031 -2.570312 18.257812 -2.605469 7.820312 7.710938 "
                    ></path>
                    <path
                      d="M 54.089844 54.089844 C 51.714844 56.460938 47.863281 56.460938 45.488281 54.089844 C 43.113281 51.714844 43.113281 47.863281 45.488281 45.488281 C 47.863281 43.113281 51.714844 43.113281 54.089844 45.488281 C 56.460938 47.863281 56.460938 51.714844 54.089844 54.089844 "
                    ></path>
                  </g>
                </svg>

              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 t-green"
                style="border-radius: 4px; border-left:5px solid rgb(0,201,133);background-color:#B9F6CA;

"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-5 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div class="display-flex items-center py-5 ml-10 gap-10 fs-14">
                <i
                  class="fa-solid fa-circle-check fa-xl"
                  style="color: rgb(0,201,133); "
                ></i>
                <div class="t-green">Completed with 89% accuracy</div>
              </div>
            </div>
            <div class="card flex-1 b-primary">
              <div
                class="bg-yellow m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="40"
                  height="40"
                  viewBox="0 0 56 56"
                  version="1.1"
                  style="fill: #fff; opacity: 0.40;"
                >
                  <g>
                    <path
                      d="M 7.820312 7.710938 L 7.820312 7.707031 C 7.800781 7.726562 7.785156 7.746094 7.765625 7.765625 C 7.746094 7.785156 7.726562 7.800781 7.707031 7.816406 L 7.710938 7.820312 C -2.605469 18.257812 -2.570312 35.082031 7.820312 45.472656 C 15.769531 53.421875 27.480469 55.308594 37.21875 51.136719 C 37.824219 50.878906 38.34375 50.515625 38.777344 50.085938 C 40.632812 48.230469 40.78125 45.074219 38.765625 43.058594 C 37.320312 41.613281 35.136719 41.140625 33.257812 41.941406 C 27.175781 44.535156 19.863281 43.355469 14.898438 38.390625 C 8.398438 31.890625 8.386719 21.367188 14.84375 14.84375 C 21.367188 8.386719 31.890625 8.398438 38.390625 14.898438 C 43.355469 19.863281 44.535156 27.175781 41.941406 33.257812 C 41.140625 35.136719 41.613281 37.320312 43.058594 38.765625 C 45.074219 40.78125 48.230469 40.632812 50.085938 38.777344 C 50.515625 38.34375 50.878906 37.824219 51.136719 37.21875 C 55.308594 27.480469 53.421875 15.769531 45.472656 7.816406 C 35.082031 -2.570312 18.257812 -2.605469 7.820312 7.710938 "
                    ></path>
                    <path
                      d="M 54.089844 54.089844 C 51.714844 56.460938 47.863281 56.460938 45.488281 54.089844 C 43.113281 51.714844 43.113281 47.863281 45.488281 45.488281 C 47.863281 43.113281 51.714844 43.113281 54.089844 45.488281 C 56.460938 47.863281 56.460938 51.714844 54.089844 54.089844 "
                    ></path>
                  </g>
                </svg>

              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 t-green"
                style="border-radius: 4px; border-left:5px solid rgb(0,201,133);background-color:#B9F6CA;
"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-5 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div class="display-flex items-center py-5 ml-10 gap-10 fs-14">
                <i
                  class="fa-solid fa-circle-check fa-xl"
                  style="color: rgb(0,201,133); "
                ></i>
                <div class="t-green">Completed with 89% accuracy</div>
              </div>
            </div>
            <div class="card flex-1 b-primary">
              <div
                class="bg-red m-5 display-flex justify-center items-center"
                style="border-radius: 5px 5px 30px 5px;height:160px"
              >
                <svg
                  xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink"
                  width="40"
                  height="40"
                  viewBox="0 0 56 56"
                  version="1.1"
                  style="fill: #fff; opacity: 0.40;"
                >
                  <g>
                    <path
                      d="M 7.820312 7.710938 L 7.820312 7.707031 C 7.800781 7.726562 7.785156 7.746094 7.765625 7.765625 C 7.746094 7.785156 7.726562 7.800781 7.707031 7.816406 L 7.710938 7.820312 C -2.605469 18.257812 -2.570312 35.082031 7.820312 45.472656 C 15.769531 53.421875 27.480469 55.308594 37.21875 51.136719 C 37.824219 50.878906 38.34375 50.515625 38.777344 50.085938 C 40.632812 48.230469 40.78125 45.074219 38.765625 43.058594 C 37.320312 41.613281 35.136719 41.140625 33.257812 41.941406 C 27.175781 44.535156 19.863281 43.355469 14.898438 38.390625 C 8.398438 31.890625 8.386719 21.367188 14.84375 14.84375 C 21.367188 8.386719 31.890625 8.398438 38.390625 14.898438 C 43.355469 19.863281 44.535156 27.175781 41.941406 33.257812 C 41.140625 35.136719 41.613281 37.320312 43.058594 38.765625 C 45.074219 40.78125 48.230469 40.632812 50.085938 38.777344 C 50.515625 38.34375 50.878906 37.824219 51.136719 37.21875 C 55.308594 27.480469 53.421875 15.769531 45.472656 7.816406 C 35.082031 -2.570312 18.257812 -2.605469 7.820312 7.710938 "
                    ></path>
                    <path
                      d="M 54.089844 54.089844 C 51.714844 56.460938 47.863281 56.460938 45.488281 54.089844 C 43.113281 51.714844 43.113281 47.863281 45.488281 45.488281 C 47.863281 43.113281 51.714844 43.113281 54.089844 45.488281 C 56.460938 47.863281 56.460938 51.714844 54.089844 54.089844 "
                    ></path>
                  </g>
                </svg>

              </div>
              <div
                class="display-flex p-5 items-center gap-5 ml-10 w-100 my-15 t-green"
                style="border-radius: 4px; border-left:5px solid rgb(0,201,133);background-color:#B9F6CA;

"
              >
                <i class="fa-solid fa-list-check"></i>
                <p>Assigned</p>
              </div>
              <div class="py-5 ml-10">
                <h1 class="fs-16 fw-700">ReactJS</h1>
              </div>
              <div class="py-5 ml-10 fs-14">
                <span>Quiz</span>
                •
                <span>50 Questions</span>
              </div>
              <div class="display-flex items-center py-10 ml-10 gap-10 fs-14">
                <i
                  class="fa-solid fa-circle-check fa-xl"
                  style="color: rgb(0,201,133); "
                ></i>
                <div class="t-green">Completed with 89% accuracy</div>
              </div>
            </div>

          </div>
        </section>
      </div>
    </main>

    <footer class="p-24">
      <div class="display-flex flex-wrap gap-15 m-50">
        <div class="flex-1 p-5 md:flex-4">
          <h1 class="fs-16 fw-700">Solutions</h1>
          <p class="line-height-30 fs-16 fw-500">Employee training</p>
          <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
          <p class="line-height-30 fs-16 fw-500">Presentations</p>
        </div>
        <div class="flex-1 p-5 md:flex-4">
          <h1 class="fs-16 fw-700">Solutions</h1>
          <p class="line-height-30 fs-16 fw-500">Employee training</p>
          <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
          <p class="line-height-30 fs-16 fw-500">Presentations</p>
        </div>
        <div class="flex-1 p-5 md:flex-4">
          <h1 class="fs-16 fw-700">Solutions</h1>
          <p class="line-height-30 fs-16 fw-500">Employee training</p>
          <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
          <p class="line-height-30 fs-16 fw-500">Presentations</p>
        </div>
        <div class="flex-1 p-5 md:flex-4"></div>
      </div>
      <div class="display-flex gap-15 mx-50 mt-25 justify-between items-center">
        <div class="display-flex">
          <ul class="display-flex ml-5 items-center">
            <li>
              <p class="fw-700">&copy; 2022 Olympia Application. All rights
                reserved.</p>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-facebook fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-twitch fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-twitter fa-xl"></i>
            </li>
            <li class="m-5">
              <i class="fa-brands fa-instagram fa-xl"></i>
            </li>
          </ul>
        </div>
        <div class="display-flex">
          <ul class="display-flex ml-5 items-center">
            <li class="m-5">
              <p class="fw-700">Get our app</p>
            </li>
            <li class="m-5">
              <img
                src="https://cf.quizizz.com/img/landing/apple%20app%20store.png"
                class="w-100"
                aria-hidden="true"
                alt="apple store"
                data-v-e49e73a7=""
              />
            </li>
            <li class="m-5">
              <img
                src="https://cf.quizizz.com/img/landing/google%20play.png"
                class="w-100"
                aria-hidden="true"
                alt="google store"
                data-v-e49e73a7=""
              />
            </li>
          </ul>
        </div>
      </div>
    </footer>
  </body>

</html>