<!-- FILEPATH: /c:/Users/ADMIN/Desktop/olympia-application/views/index.hbs -->
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Olympia Application</title>
    <link rel="stylesheet" href="/styles/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
</head>

<body>
<header
      class="h-64 display-flex justify-between items-center px-10 bg-white border-bottom-gray"
    >
      <h1 class="py-1 display-flex items-center cursor-pointer">
        <a class="text-primary fs-27 display-block sm:display-none" href="/">Olympia Application</a>
      </h1>
      <nav class="display-flex gap-4 items-center gap-5">
        <div class="bg-light-primary text-primary px-20 py-10 fw-700 cursor-pointer">Chương
          trình của tôi
        </div>
        <div
          class="display-flex items-center justify-center h-40 w-40 cursor-pointer bg-gray rounded position-relative"
        >
          <i class="fa-solid fa-bars"></i>
          <ul class="absolute-right bg-white border-gray min-w-200 position-absolute top-43 py-10 rounded shadow">
                    <li class="px-20">
                        <div class="fs-14 lh-20">HieuVV4</div>
                        <div class="fs-12 lh-20">hieus247@gmail.com</div>
                    </li>
                    <li class="h-1 bb-gray my-10"/>
                    <li class="cursor-pointer px-20 py-10 hover:light-primary">
                        <a class="display-flex gap-10 items-center" href="/auth/logout">
                            <i class="fa-solid fa-right-to-bracket text-black"></i>
                            <span class="text-black">Đăng xuất</span>
                        </a>
                    </li>
                </ul>
        </div>
        </div>
      </nav>
    </header>
    {{!-- 
    <main class="flex justify-center m-">
        <div class="max-w-screen-session flex flex-col gap-5 px-2 w-full">
            <section>
                <div class="flex justify-between px-5 py-2.5 border rounded-lg flex-wrap-reverse gap-2">
                    <div>
                        <p class="font-semibold">Bạn muốn tạo và tổ chức một Olympia?</p>
                        <p>Bạn có thể bắt đầu dùng miễn phí.</p>
                    </div>
                    <div class="bg-purple-100 rounded px-5 py-2.5 text-purple-700 font-semibold cursor-pointer">
                        <i class="fa-solid fa-plus"></i>
                        <span>Tổ chức ngay</span>
                    </div>
                </div>
            </section>

            <section>
                <div class="flex justify-between flex-wrap-reverse gap-2">
                    <div class="flex-1">
                        <div class="px-5 py-2.5 border rounded-lg">
                            <p class="font-semibold">Bạn muốn tạo và tổ chức một Olympia?</p>
                            <p>Bạn có thể bắt đầu dùng miễn phí.</p>
                        </div>
                    </div>
                    <div class="px-5 py-2.5 border rounded-lg">
                        <p class="font-semibold">Bạn muốn tạo và tổ chức một Olympia?</p>
                        <p>Bạn có thể bắt đầu dùng miễn phí.</p>
                    </div>
                </div>
            </section>
        </div>
    </main> --}}
    <section>
        <div>
            <div>
            <h1>Groups</h1></div>
            <div>
                <h2>View all</h2>
            </div>
        </div>
        <div>
        <div class="flex-1"></div>
        <div class="flex-1"></div>
        </div>
    </section>
    <footer class="p-24"> 
        <div class="display-flex flex-wrap gap-15 m-50 ">
            <div class="flex-1 p-5 flex-full">
                <h1 class="fs-16 fw-700">Solutions</h1>
                    <p class="line-height-30 fs-16 fw-500">Employee training</p>
                    <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
                    <p class="line-height-30 fs-16 fw-500">Presentations</p>
            </div>
            <div class="flex-1 p-5 flex-full">
                <h1 class="fs-16 fw-700">Solutions</h1>
                    <p class="line-height-30 fs-16 fw-500">Employee training</p>
                    <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
                    <p class="line-height-30 fs-16 fw-500">Presentations</p>
            </div>
            <div class="flex-1 p-5 flex-full">
                <h1 class="fs-16 fw-700">Solutions</h1>
                    <p class="line-height-30 fs-16 fw-500">Employee training</p>
                    <p class="line-height-30 fs-16 fw-500">Customer engagement</p>
                    <p class="line-height-30 fs-16 fw-500">Presentations</p>             
            </div>
            <div class="flex-1 p-5 md:flex-4"></div>
        </div>
        <div class="display-flex gap-15 mx-50 mt-25 justify-between items-center">
            <div  class="display-flex ">
                <ul class="display-flex ml-5 items-center">
                    <li>
                        <p class="fw-700">&copy; 2022 Olympia Application. All rights reserved.</p>
                    </li>
                    <li class="m-5">
                        <i class="fa-brands fa-facebook fa-xl"></i>
                    </li>
                    <li class="m-5">
                        <i class="fa-brands fa-twitch fa-xl"></i>
                    </li>
                    <li class="m-5">    
                    <i class="fa-brands fa-twitter fa-xl"></i>
                    </li>
                    <li class="m-5">
                        <i class="fa-brands fa-instagram fa-xl"></i>
                    </li>
                </ul>
            </div>
            <div class="display-flex">
                <ul class="display-flex ml-5 items-center">
                    <li class="m-5">
                        <p class="fw-700">Get our app</p>
                        </li>
                    <li class="m-5">
                        <img src="https://cf.quizizz.com/img/landing/apple%20app%20store.png" class="w-100"aria-hidden="true" alt="apple store" data-v-e49e73a7="">
                    </li>
                    <li class="m-5">
                        <img src="https://cf.quizizz.com/img/landing/google%20play.png" class="w-100"aria-hidden="true" alt="google store" data-v-e49e73a7="">
                    </li>
                </ul>              
            </div>
        </div>
    </footer>
</body>

</html>