/* Create On 2024-01-01 23:26:02 by BaseThemeGenerator
/* ===============================MENU CSS=================================
/* Root: CSS Variables
/* Color: Background color, Text color, Border color
/* ========================================================================== */

/* ========================================================================== */
/* Root: CSS Variables
/* ========================================================================== */

:root {
  --color-gray: rgb(233, 233, 235);
  --color-light-gray: rgb(249, 249, 249);
  --color-primary: rgb(136, 84, 192);
  --color-blue: rgb(45, 112, 174);
  --color-light-blue: rgb(32, 150, 243);
  --color-dark-green: rgb(0, 105, 92);
  --color-green: rgb(0, 201, 133);
  --color-keppel: rgb(45, 157, 166);
  --color-light-green: rgb(185, 246, 202);
  --color-yellow: rgb(239, 169, 41);
  --color-light-primary: rgb(237, 230, 246);
  --color-dark-primary: rgb(103, 58, 183);
  --color-light-yellow: rgb(239, 169, 41);
  --color-black: rgb(0, 0, 0);
  --color-white: rgb(255, 255, 255);
  --color-red: #ef3c69;
}

/* ========================================================================== */
/* Color: Background color, Text color, Border color
/* ========================================================================== */
.bg-opacity {
  background-color: #fff3;
}
.bg-transparent {
  background-color: rgba(255, 255, 255, 0);
}
.bg-light-primary-opacity {
  --tw-gradient-from-position: ;
  --tw-gradient-from: #ede6f6 var(--tw-gradient-from-position);
  --tw-gradient-to: rgba(237, 230, 246, 0) var(--tw-gradient-from-position);
  --tw-gradient-stops: var(--tw-gradient-from), var(--tw-gradient-to);
  background-image: linear-gradient(to right, var(--tw-gradient-stops));
}
.bg-gray,
.background-color-gray {
  background-color: var(--color-gray);
}

.bg-light-gray,
.background-color-light-gray {
  background-color: var(--color-light-gray);
}

.bg-primary,
.background-color-primary {
  background-color: var(--color-primary);
}
.hover\:light-primary:hover,
.hover\:.light-primary:hover {
  background-color: var(--color-light-primary);
}

.bg-blue,
.background-color-blue {
  background-color: var(--color-blue);
}

.bg-light-blue,
.background-color-light-blue {
  background-color: var(--color-light-blue);
}

.bg-dark-green,
.background-color-dark-green {
  background-color: var(--color-dark-green);
}

.bg-green,
.background-color-green {
  background-color: var(--color-green);
}

.bg-light-green,
.background-color-light-green {
  background-color: var(--color-light-green);
}
.bg-keppel,
.background-color-keppel {
  background-color: var(--color-keppel);
}
.bg-yellow,
.background-color-yellow {
  background-color: var(--color-yellow);
}

.bg-light-primary,
.background-color-light-primary {
  background-color: var(--color-light-primary);
}

.bg-dark-primary,
.background-color-dark-primary {
  background-color: var(--color-dark-primary);
}

.bg-light-yellow,
.background-color-light-yellow {
  background-color: var(--color-light-yellow);
}

.bg-black,
.background-color-black {
  background-color: var(--color-black);
}
.bg-white,
.background-color-white {
  background-color: var(--color-white);
}

.bg-red,
.background-color-red {
  background-color: var(--color-red);
}

.t-gray,
.text-gray {
  color: var(--color-gray);
}

.t-light-gray,
.text-light-gray {
  color: var(--color-light-gray);
}

.t-primary,
.text-primary {
  color: var(--color-primary);
}

.t-blue,
.text-blue {
  color: var(--color-blue);
}

.t-light-blue,
.text-light-blue {
  color: var(--color-light-blue);
}

.t-dark-green,
.text-dark-green {
  color: var(--color-dark-green);
}

.t-green,
.text-green {
  color: var(--color-green);
}

.t-light-green,
.text-light-green {
  color: var(--color-light-green);
}
.t-keppel,
.text-keppel {
  color: var(--color-keppel);
}
.t-yellow,
.text-yellow {
  color: var(--color-yellow);
}

.t-light-primary,
.text-light-primary {
  color: var(--color-light-primary);
}

.t-dark-primary,
.text-dark-primary {
  color: var(--color-dark-primary);
}

.t-light-yellow,
.text-light-yellow {
  color: var(--color-light-yellow);
}

.t-black,
.text-black {
  color: var(--color-black);
}
.t-white,
.text-white {
  color: var(--color-white);
}

.t-red,
.text-red {
  color: var(--color-red);
}

.t-transparent,
.text-transparent {
  color: transparent;
}

.b-gray,
.border-gray {
  border: 1px solid var(--color-gray);
}

.b-light-gray,
.border-light-gray {
  border: 1px solid var(--color-light-gray);
}

.b-primary,
.border-primary {
  border: 1px solid var(--color-primary);
}

.b-blue,
.border-blue {
  border: 1px solid var(--color-blue);
}

.b-light-blue,
.border-light-blue {
  border: 1px solid var(--color-light-blue);
}

.b-dark-green,
.border-dark-green {
  border: 1px solid var(--color-dark-green);
}

.b-green,
.border-green {
  border: 1px solid var(--color-green);
}

.b-light-green,
.border-light-green {
  border: 1px solid var(--color-light-green);
}
.b-keppel,
.border-keppel {
  border: 1px solid var(--color-keppel);
}
.b-yellow,
.border-yellow {
  border: 1px solid var(--color-yellow);
}

.b-light-primary,
.border-light-primary {
  border: 1px solid var(--color-light-primary);
}

.b-dark-primary,
.border-dark-primary {
  border: 1px solid var(--color-dark-primary);
}

.b-light-yellow,
.border-light-yellow {
  border: 1px solid var(--color-light-yellow);
}

.b-black,
.border-black {
  border: 1px solid var(--color-black);
}
.b-white,
.border-white {
  border: 1px solid var(--color-white);
}

.b-red,
.border-red {
  border: 1px solid var(--color-red);
}

.bt-gray,
.border-top-gray {
  border-top: 1px solid var(--color-gray);
}

.bt-light-gray,
.border-top-light-gray {
  border-top: 1px solid var(--color-light-gray);
}

.bt-primary,
.border-top-primary {
  border-top: 1px solid var(--color-primary);
}

.bt-blue,
.border-top-blue {
  border-top: 1px solid var(--color-blue);
}

.bt-light-blue,
.border-top-light-blue {
  border-top: 1px solid var(--color-light-blue);
}

.bt-dark-green,
.border-top-dark-green {
  border-top: 1px solid var(--color-dark-green);
}

.bt-green,
.border-top-green {
  border-top: 1px solid var(--color-green);
}

.bt-light-green,
.border-top-light-green {
  border-top: 1px solid var(--color-light-green);
}
.bt-keppel,
.border-top-keppel {
  border-top: 1px solid var(--color-keppel);
}

.bt-yellow,
.border-top-yellow {
  border-top: 1px solid var(--color-yellow);
}

.bt-light-primary,
.border-top-light-primary {
  border-top: 1px solid var(--color-light-primary);
}

.bt-dark-primary,
.border-top-dark-primary {
  border-top: 1px solid var(--color-dark-primary);
}

.bt-light-yellow,
.border-top-light-yellow {
  border-top: 1px solid var(--color-light-yellow);
}

.bt-black,
.border-top-black {
  border-top: 1px solid var(--color-black);
}
.bt-white,
.border-top-white {
  border-top: 1px solid var(--color-white);
}

.bt-red,
.border-top-red {
  border-top: 1px solid var(--color-red);
}

.bl-gray,
.border-left-gray {
  border-left: 1px solid var(--color-gray);
}

.bl-light-gray,
.border-left-light-gray {
  border-left: 1px solid var(--color-light-gray);
}

.bl-primary,
.border-left-primary {
  border-left: 1px solid var(--color-primary);
}

.bl-blue,
.border-left-blue {
  border-left: 1px solid var(--color-blue);
}

.bl-light-blue,
.border-left-light-blue {
  border-left: 1px solid var(--color-light-blue);
}

.bl-dark-green,
.border-left-dark-green {
  border-left: 1px solid var(--color-dark-green);
}

.bl-green,
.border-left-green {
  border-left: 1px solid var(--color-green);
}

.bl-light-green,
.border-left-light-green {
  border-left: 1px solid var(--color-light-green);
}
.bl-keppel,
.border-left-keppel {
  border-left: 1px solid var(--color-keppel);
}

.bl-yellow,
.border-left-yellow {
  border-left: 1px solid var(--color-yellow);
}
/* border-left-yellow-10 */
.bl-yellow-10 {
  border-left: 10px solid var(--color-yellow);
}
.bl-green-5 {
  border-left: 5px solid var(--color-green);
}

.bl-light-primary,
.border-left-light-primary {
  border-left: 1px solid var(--color-light-primary);
}

.bl-dark-primary,
.border-left-dark-primary {
  border-left: 1px solid var(--color-dark-primary);
}

.bl-light-yellow,
.border-left-light-yellow {
  border-left: 1px solid var(--color-light-yellow);
}

.bl-black,
.border-left-black {
  border-left: 1px solid var(--color-black);
}
.bl-white,
.border-left-white {
  border-left: 1px solid var(--color-white);
}

.bl-red,
.border-left-red {
  border-left: 1px solid var(--color-red);
}

.bb-gray,
.border-bottom-gray {
  border-bottom: 1px solid var(--color-gray);
}

.bb-light-gray,
.border-bottom-light-gray {
  border-bottom: 1px solid var(--color-light-gray);
}

.bb-primary,
.border-bottom-primary {
  border-bottom: 1px solid var(--color-primary);
}

.bb-blue,
.border-bottom-blue {
  border-bottom: 1px solid var(--color-blue);
}

.bb-light-blue,
.border-bottom-light-blue {
  border-bottom: 1px solid var(--color-light-blue);
}

.bb-dark-green,
.border-bottom-dark-green {
  border-bottom: 1px solid var(--color-dark-green);
}

.bb-green,
.border-bottom-green {
  border-bottom: 1px solid var(--color-green);
}

.bb-light-green,
.border-bottom-light-green {
  border-bottom: 1px solid var(--color-light-green);
}
.bb-keppel,
.border-bottom-keppel {
  border-bottom: 1px solid var(--color-keppel);
}
.bb-yellow,
.border-bottom-yellow {
  border-bottom: 1px solid var(--color-yellow);
}

.bb-light-primary,
.border-bottom-light-primary {
  border-bottom: 1px solid var(--color-light-primary);
}

.bb-dark-primary,
.border-bottom-dark-primary {
  border-bottom: 1px solid var(--color-dark-primary);
}

.bb-light-yellow,
.border-bottom-light-yellow {
  border-bottom: 1px solid var(--color-light-yellow);
}

.bb-black,
.border-bottom-black {
  border-bottom: 1px solid var(--color-black);
}
.bb-white,
.border-bottom-white {
  border-bottom: 1px solid var(--color-white);
}

.bb-red,
.border-bottom-red {
  border-bottom: 1px solid var(--color-red);
}

.br-gray,
.border-right-gray {
  border-right: 1px solid var(--color-gray);
}

.br-light-gray,
.border-right-light-gray {
  border-right: 1px solid var(--color-light-gray);
}

.br-primary,
.border-right-primary {
  border-right: 1px solid var(--color-primary);
}

.br-blue,
.border-right-blue {
  border-right: 1px solid var(--color-blue);
}

.br-light-blue,
.border-right-light-blue {
  border-right: 1px solid var(--color-light-blue);
}

.br-dark-green,
.border-right-dark-green {
  border-right: 1px solid var(--color-dark-green);
}

.br-green,
.border-right-green {
  border-right: 1px solid var(--color-green);
}

.br-light-green,
.border-right-light-green {
  border-right: 1px solid var(--color-light-green);
}
.br-keppel,
.border-right-keppel {
  border-right: 1px solid var(--color-keppel);
}
.br-yellow,
.border-right-yellow {
  border-right: 1px solid var(--color-yellow);
}

.br-light-primary,
.border-right-light-primary {
  border-right: 1px solid var(--color-light-primary);
}

.br-dark-primary,
.border-right-dark-primary {
  border-right: 1px solid var(--color-dark-primary);
}

.br-light-yellow,
.border-right-light-yellow {
  border-right: 1px solid var(--color-light-yellow);
}

.br-black,
.border-right-black {
  border-right: 1px solid var(--color-black);
}
.br-white,
.border-right-white {
  border-right: 1px solid var(--color-white);
}

.br-red,
.border-right-red {
  border-right: 1px solid var(--color-red);
}

/* MOBILE CSS RULES: */
@media (max-width: 768px) {
  .md\:bg-light-primary,
  .md\:background-color-light-primary {
    background-color: var(--color-light-primary);
  }
}
