<main class="display-flex justify-center bg-light-gray px-10 py-20">
  <div class="max-w-screen-session display-flex flex-column gap-10 w-full">
    <section class="px-20 py-30 bg-primary rounded border-gray box-shadow">
      <div
        class="display-flex justify-between items-center gap-10 md:flex-wrap"
      >
        <img
          src="https://media.quizizz.com/_mdserver/main/media/resource/gs/quizizz-media/quizzes/93a3e3e1-5e2b-4e65-9a72-555fdb7ff9c8-v2"
          alt="Image"
          class="h-225 rounded md:w-full img-cover"
        />
        <textarea
          class="flex-1 h-225 resize-none p-10 border-gray rounded fs-20 text-center md:w-full bg-primary text-white"
        >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris at
          commodo est, eu pretium mi. Donec egestas rutrum velit in tristique.
          Sed rhoncus eget tortor a auctor. Sed lobortis risus et posuere
          semper. Class aptent taciti sociosqu ad litora torquent per conubia
          nostra, per inceptos himenaeos. Pellentesque lacinia lacus ante, vel
          blandit risus gravida vel. Aenean lobortis ornare tincidunt. In augue
          nunc, imperdiet a enim at, tincidunt accumsan lacus. Praesent ac
          pulvinar dolor. In sem quam, tristique a dictum sed, interdum vel ex.
          .
        </textarea>
      </div>
      <div class="display-flex gap-10 mt-20 md:flex-wrap">
        <div
          name="ANSWER-ITEM"
          class="bg-blue flex-1 md:col-100 h-250 rounded display-flex flex-column px-10 pt-5 pb-10 gap-10"
        >
          <div class="display-flex justify-between items-center">
            <div
              class="display-flex items-center justify-center h-28 w-28 bg-opacity rounded cursor-pointer"
            >
              <i class="fa-solid fa-trash text-white text-shadow"></i>
            </div>
            <div class="checkbox-round h-28 w-28">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"></label>
            </div>
          </div>
          <textarea
            class="flex-1 resize-none p-10 border-gray rounded fs-20 text-center bg-transparent text-white border-none"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </textarea>
        </div>
        <div
          name="ANSWER-ITEM"
          class="bg-keppel flex-1 md:col-100 h-250 rounded display-flex flex-column px-10 pt-5 pb-10 gap-10"
        >
          <div class="display-flex justify-between items-center">
            <div
              class="display-flex items-center justify-center h-28 w-28 bg-opacity rounded cursor-pointer"
            >
              <i class="fa-solid fa-trash text-white text-shadow"></i>
            </div>
            <div class="checkbox-round h-28 w-28">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"></label>
            </div>
          </div>
          <textarea
            class="flex-1 resize-none p-10 border-gray rounded fs-20 text-center bg-transparent text-white border-none"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </textarea>
        </div>
        <div
          name="ANSWER-ITEM"
          class="bg-yellow flex-1 md:col-100 h-250 rounded display-flex flex-column px-10 pt-5 pb-10 gap-10"
        >
          <div class="display-flex justify-between items-center">
            <div
              class="display-flex items-center justify-center h-28 w-28 bg-opacity rounded cursor-pointer"
            >
              <i class="fa-solid fa-trash text-white text-shadow"></i>
            </div>
            <div class="checkbox-round h-28 w-28">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"></label>
            </div>
          </div>
          <textarea
            class="flex-1 resize-none p-10 border-gray rounded fs-20 text-center bg-transparent text-white border-none"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </textarea>
        </div>
        <div
          name="ANSWER-ITEM"
          class="bg-red flex-1 md:col-100 h-250 rounded display-flex flex-column px-10 pt-5 pb-10 gap-10"
        >
          <div class="display-flex justify-between items-center">
            <div
              class="display-flex items-center justify-center h-28 w-28 bg-opacity rounded cursor-pointer"
            >
              <i class="fa-solid fa-trash text-white text-shadow"></i>
            </div>
            <div class="checkbox-round h-28 w-28">
              <input type="checkbox" checked id="checkbox" />
              <label for="checkbox"></label>
            </div>
          </div>
          <textarea
            class="flex-1 resize-none p-10 border-gray rounded fs-20 text-center bg-transparent text-white border-none"
          >Lorem ipsum dolor sit amet, consectetur adipiscing elit.
          </textarea>
        </div>
      </div>
    </section>
  </div>
</main>